{% extends "components/form_page.html" %}

{% block breadcrumbs %}{% include "components/breadcrumbs.html" with parent_label="Inventory" parent_url="/inventory/movements/" current=heading %}{% endblock %}
{% block form_eyebrow %}Stock movement{% endblock %}
{% block form_description %}Enter the movement details. Review quantities and warehouse routes before posting.{% endblock %}
{% block form_fields %}{% include "components/form_fields.html" with wide_fields="notes,product_variant" %}{% endblock %}
{% block save_label %}Save{% endblock %}
{% block footer_save_label %}Save{% endblock %}
{% block cancel_action %}<a class="btn-secondary" href="{% url 'inventory:list' %}" data-app-nav>Cancel</a>{% endblock %}
