{% extends "components/form_page.html" %}

{% block breadcrumbs %}{% include "components/breadcrumbs.html" with parent_label="Purchase Orders" parent_url="/procurement/orders/" current=heading %}{% endblock %}
{% block form_eyebrow %}Purchase order{% endblock %}
{% block form_description %}Choose a supplier and order details. Save the draft to add items.{% endblock %}
{% block form_fields %}{% include "components/form_fields.html" with wide_fields="notes" %}{% endblock %}
{% block save_label %}Save draft{% endblock %}
{% block footer_save_label %}Save draft{% endblock %}
{% block cancel_action %}<a class="btn-secondary" href="{% url 'procurement:order_list' %}" data-app-nav>Cancel</a>{% endblock %}
