{% extends "components/form_page.html" %}

{% block breadcrumbs %}{% url 'sales:order_detail' order.id as order_url %}{% include "components/breadcrumbs.html" with parent_label=order.number parent_url=order_url current=heading %}{% endblock %}
{% block form_eyebrow %}Order item{% endblock %}
{% block form_description %}Choose a product and enter its quantity, price, and description.{% endblock %}
{% block form_fields %}{% include "components/form_fields.html" with wide_fields="product_variant,description" %}{% endblock %}
{% block save_label %}Save line{% endblock %}
{% block footer_save_label %}Save line{% endblock %}
{% block cancel_action %}<a class="btn-secondary" href="{% url 'sales:order_detail' order.id %}" data-app-nav>Cancel</a>{% endblock %}
