{% extends "components/form_page.html" %}

{% block breadcrumbs %}{% include "components/breadcrumbs.html" with parent_label="Contacts" parent_url="/parties/" current=heading %}{% endblock %}
{% block form_eyebrow %}Contact details{% endblock %}
{% block form_description %}Keep customer, supplier, and contact information up to date.{% endblock %}
{% block form_fields %}{% include "components/form_fields.html" with wide_fields="display_name,legal_name" %}{% endblock %}
{% block save_label %}Save party{% endblock %}
{% block footer_save_label %}Save party{% endblock %}
{% block cancel_action %}<a class="btn-secondary" href="{% url 'party:list' %}" data-app-nav>Cancel</a>{% endblock %}
