{% extends "components/form_page.html" %}

{% block breadcrumbs %}{% include "components/breadcrumbs.html" with parent_label="Contacts" parent_url="/parties/" current=heading %}{% endblock %}
{% block form_eyebrow %}Contact information{% endblock %}
{% block form_description %}Add the contact or address details you use to reach this party.{% endblock %}
{% block form_fields %}{% include "components/form_fields.html" with wide_fields="" %}{% endblock %}
{% block save_label %}Save{% endblock %}
{% block footer_save_label %}Save{% endblock %}
{% block cancel_action %}<a class="btn-secondary" href="{% url 'party:list' %}" data-app-nav>Cancel</a>{% endblock %}
