{% extends "components/form_page.html" %}

{% block breadcrumbs %}{% include "components/breadcrumbs.html" with parent_label="Catalog" parent_url="/catalog/products/" current=heading %}{% endblock %}
{% block form_eyebrow %}Catalog details{% endblock %}
{% block form_description %}Manage SKUs, product options, and their available values.{% endblock %}
{% block form_fields %}{% include "components/form_fields.html" with wide_fields="attribute_values" %}{% endblock %}
{% block save_label %}Save{% endblock %}
{% block footer_save_label %}Save{% endblock %}
{% block cancel_action %}<a class="btn-secondary" href="{% url 'catalog:product_list' %}" data-app-nav>Cancel</a>{% endblock %}
